* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 40%;
    height: 40%;
    margin: 5% 30%;
    background-color: #DBCBD8;

    border-radius: 0px 50px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    border: 3px solid black;
}

body {
    background-color: #BBDEF0;
}

.counter {
    color: red;
}

.username {
    color: blue;

}
.btn1{
    margin-left: 163px; 
    width: 100px; 
    height: 28px;
}
.btn2{
    margin-left: 10px; 
    width: 100px; 
    height: 28px;
}
h1 {
    text-align: center;
    color: black;
    margin-top: 10px;
}

#message {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 700;
}

/* button on hover */
button:hover {
    background-color: #DBCBD8;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
}
/* media queries for screens smaller than 400px */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        height: 400px;
        margin: 40% 5% 0% 5%;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .btn1{
        margin:0;
    }
    #message {
        font-size: 25px;
    }
    .counter{
        font-size: 48px;
    }
}